/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* layout */
ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: inherit;
}
/* /reset */
main {
    padding-top: auto;
}

footer {
    justify-content: center;
    /* debug */
    background-color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

h5 {
    padding-top: 20px;
}
label {
    color: var(--font-color);
}

li {
    padding-top: 20px;
    font-size: 0.75rem;
}

/* /layout */
/* common */
.container-big {
    width: 70%;
    max-width: 1200px;
}

.container-small {
    width: 60%;
    max-width: 1100px;
}
/* utilites */
:root {
    --header-heght: 40px;
    --foter-height: 150px;
    --hero-color: #B4D0E7;
    --botton-color: #0061FF;
    --font-color: #4A4A4A;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap:10px
}

.gap-font {
    gap: 20px;
}

.p-b {
    padding-bottom: 20px;
}

.p-t {
    padding-top: 20px;
}

.m-l {
    margin-left: 10px;
}
.color-font {
    color: black;
}

.color-font-grey {
    color: var(--font-color);
}

.f-s {
    font-size: 0.9rem;
}

.border {
    border: 1px solid var(--font-color);
}
/* /utilities */
/* header */
.header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.logo {
    padding-left: 10px;
}
.logo-img {
   width: 15%;
   align-items: center; 
   margin-right: 20px;
}

.login {
    justify-content: right;
    padding-right: 10px;
}

.logo, .login {
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu {
    font-size: 0.8rem;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
}

.menu-header {
    padding-top: 0;
}
.button {
    font-size: 0.98em;
    background-color: var(--botton-color);
    padding: 5px 10px;
    border: 0;
    color: white;
}

.start {
    align-items: center;
}

.cancel {
    margin-top: 30px;
    margin-bottom: 40px;
}

.title {
    margin-bottom: 30px;
}

/* /header */

/* main */
/* hero */
.hero {
   background-color: var(--hero-color);
   padding-top: 100px;
   justify-content: center;
}

.col-30 {
    width: 30%;
    color: var(--font-color);
    margin-top: 50px;
}

.col-70 {
    width: 70%; 
    transform: translateY(50px);
}

.free {
    background-color: var(--botton-color);
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 60px;
}
/* /hero */

/* main */
/* business plan section */

.business {
    justify-content: center;
    padding-top: 80px;

    color: white;
}

.box, .title {
    width: 100%;
}

.col {
    width: calc(100% / 3 - 20px/3);
    padding: 10px;
    /* debug */
    /* border: 1px solid var(--font-color); */
}

.billing {
    margin-right: 50px;
}
.single {
    text-align: center;
    font-size: 0.9;
    padding: 10px;
    border: 1px solid var(--font-color);
}

.fa-user {
    font-size: 0.9rem;
}

.try-free {
    width: 70%;
    background-color: var(--botton-color);
    padding: 10px;
    font-size: 0.85rem;
    text-align: center;
    margin: 30px auto;
    color: white;
}

.buy-now {
    color: #B495F1;
    text-decoration:underline
}

.line {
    width: 20%;
    margin-top: 20px;
}

.fa-check {
    color: var(--botton-color);
}

.title-enterprise {
    text-align: center;
    padding: 20px;
    border: 1px solid var(--font-color);
}

.text-enterprise {
    width: 60%;
    font-size: 0.75;
    justify-content: left;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.contact {
    width: 40%;
    justify-content: right;
}
.box-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-text {
    padding: 30px 30px;
}

.find-partner {
    border: 1px solid var(--font-color);
    padding: 10px;
    color: var(--font-color);
    text-align: center;
    margin-top: 20px;
    margin-right: 70px;
}
.box-3 {
    max-height: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.half-col-green {
    width: 40%;
    /* debug */
    background-color: lightgreen;
    border: 1px solid black;
    height: 100px;
}

.square-box {
    margin-top: 20px;
}

.square {
    width: calc(100% / 3);
    padding-bottom: 30%;
    position: relative;
}

.logo-square {
    width: 50%;
    height: 50%;
    position: absolute;
}

.logo-square img {
    height: 100%;
    object-fit: contain;
    padding: 30px;
}

.logo-square:nth-child(1) {
    background-color: #A2D39B;
    border: 5px solid #D1E9CD;
}
.logo-square:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #61082B;
}

.logo-square:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: #0093CE;
}

.logo-square:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: #FF1C1C;
}



.half-col {
    justify-content: center;
    background-color: var(--hero-color);
    padding: 10px;
}

.question {
    /* debug */
    height: 400px;
    background-color: purple;
    border: 1px solid black;
}

.last-section {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* /main */
/* footer */
.footer{
   width: 75%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.footer-col {
    width: calc(100% / 5 - 20px / 5);
    /* debug */
    background-color: lime;
    border: 1px solid black;
    height: 250px;
}
/* /footer */