/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

main {
    padding-top: auto;
}
/* common */
.container-big {
    width: 70%;
    /* debug */
    background-color: orange;
    border: 1px solid black;
    height: 400px;
}

.container-small {
    width: 60%;
    gap: 10px;
    /* debug */
    background-color: aquamarine;
    border: 1px solid black;
}
/* utilites */
:root {
    --header-heght: 40px;
    --foter-height: 150px;
    --hero-color: #B4D0E7;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}
/* header */
.header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* debug */
    height: var(--header-heght);
    background-color: green;
    border: 1px solid black;   
}

.logo, .login {
    width: 30%;
    /* debug */
    background-color: red;
    height: var(--header-heght);
    border: 1px solid black;
}
/* /header */

/* main */
/* hero */
.hero {
   background-color: var(--hero-color);
   padding-top: 70px;
   display: flex;
   justify-content: center;
}
/* /hero */
/* main */
/* business plan section */

.business {
    justify-content: center;
    padding-top: 20px;
}
.box, .title {
    width: 100%;
    /* debug */
    height: 100px;
    background-color: blue;
    border: 1px solid black;
}
.col {
    width: calc(100% / 3 - 20px/3);
    /* debug */
    height: 600px;
    border: 1px solid green;
    background-color: grey;
}

.enterprise {
    height: 150px;
}